Exercise 2 - Create a markdown cell with the title of the notebook.

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- List popular languages for Data Science.
- Identify the users and benefits of Python.
- Identify the users and benefits of R language.
- List the various libraries: scientific, visualization, machine learning, and deep learning.
- Describe data sets and sources of data.

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. Pandas

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
| ------ |
| RStudio |
|Apache Spark|
|TensorFlow|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python.

Exercise 8 - Create a code cell to multiply and add numbers

This a simple arithmetic expression to mutiply then add integers.

In [15]:
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

 This will convert 200 minutes to hours by diving by 60.

In [24]:
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
JIANXUE RAO